
button {
   display: flex; 
   justify-content: center;
   margin: auto;
   padding: 10px;
   border: none;
   font-size: 20px;
   background-color: aqua;
   margin-bottom: 5px;
   align-items: center;
}



#container {
    text-align: center;
    margin: auto;
}

table , table tbody tr td , table thead tr th{
    border: 2px solid black;
}




